/*Selector global, con él estamos quitando el margen y padding por defecto de todos los elementos en la pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Con este selector de elemento, establecemos el aspecto que tendrá el cuerpo de la página, teniendo un margen de 0 arriba y abaja, y automatico para los costados, con esto, centramos los elementos que vayan dentro del cuerpo. Se le añade un ancho máximo de 1200 px, ademas de elegir una fuente y color de fuente*/

#header{
    display: flex;
    align-items: center; /* Centrar verticalmente */
    width: 100%;
    height: 75px;
    background-color: #004aad;
}

.title{
    color: white;
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center; /* Centrar horizontalmente */
    flex: 1; /* Ocupa el espacio restante horizontalmente */
}

.subtitle{
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center; /* Centrar horizontalmente */
    flex: 1; /* Ocupa el espacio restante horizontalmente */
}

#logoescom{
    background-color: none;
    background-image: url('/Users/usuario/Desktop/pagCURSOS/paginas/media/logo.png');
    background-size: 100% 100%;
    width: 20%;
    height: 50px;
    margin-left: 15px;
}

#header #logoescom{
    width: 70px;
    height: 60px;
    float: left;
    border-radius: 1em;
    margin-top: 7px;
    margin-left: 15px;
}

/*inicia contenedor de tipo de usuario*/
#usertype {
    position: relative; /* Agregado para que los elementos internos sean relativos a este contenedor */
    width: 60px;
    height: 60px;
    margin-right: 15px;
    overflow: hidden; /* Agregado para asegurar que el texto no se desborde fuera del contenedor */
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#usertype:hover .image {
    opacity: 0.3;
}

#usertype:hover .middle {
    opacity: 1;
}

.text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    border-radius: 1em;
    color: white;
    font-size: 11px;
    padding: 1px 1px;
    position: relative; /* Agregado para ajustar la posición del texto */
    z-index: 1; /* Agregado para asegurar que el texto esté sobre la imagen */
/*termina contenedor de tipo de usuario*/}

.nav_hor{
    width: 100%;
    margin:none;
    background-color: #ebebeb;
    justify-content: center;
    align-items: center;
}

.nav_hor ul{ /*selector descendente sin viñeta*/
    list-style: none;
    text-align: center;
    align-items: center;
}

.menu>li{
    display: inline-block;
}

.menu>li>a{
    display: block;
    padding: 5px 20px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.menu li a:hover{/*selector de subclase en accion sobre de el elemento*/
    color: #004aad;
    transition: all .3s;
}

.submenu{
    position: absolute;
    background: #ebebeb;
    width: auto;
    display: none;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: darkslategrey;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.menu li:hover .submenu{/*se aplica la  accion de sobre de para los submenus*/
    display: block;
}

.submenu li a:hover{
    font-size: large;
}

/*clases y ids para el nav vertical*/

.nav{
    width: 250px;
}

.nav_link{
    color: black;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav_link--inside{
    border-radius: 6px;
    padding-left: 20px;
    /* text-align: right; */
}
.nav_link--inside:hover{
    background: #f6f8fa;
}

.list{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #ebebeb;
}

.list_item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list_item--click{
    cursor: pointer;
}

.list_button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list_arrow{
    transform: rotate(90deg);
}

.list_arrow{
    margin-left: auto;
    transition: transform .4s;
}

.list_show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid black;
    list-style: none;
    transition: height .4s;
    height: 0;
}